source https://api.nuget.org/v3/index.json
framework: netcoreapp3.1, netstandard2.0
storage:none
nuget FSharp.Core
nuget TaskBuilder.fs
nuget Giraffe

group Build
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget FSharp.Core
    nuget Fake.DotNet.Cli
    nuget Fake.Core.Target
    nuget Fake.IO.FileSystem